
<body style="height: 2000px;">
    <h1 style="font-size:35px; text-align: center; margin-top: 100px;">YOUR BANK, YOUR SECURITY</h1>
    <br>
    <h3 style="font-size: 40px ; text-align: center; font-style: italic;">{{currentUser.username}},</h3> 
  <br>
  <br>
  <br>
  
	<div class="balance-wrapper" style="margin-top: 0px;">
		<h3 style="font-size: 30px; font-style:italic; color: grey; margin-left: 200px; margin-top: 0px;">TOTAL BALANCE</h3><h3 style="font-size: 40px ; text-align: center; margin-bottom: 0px; margin-top: 0px;"> what would you like to do next?</h3> 
    <h1 style="margin-left: 250px; ">{{accountBalance}}  <span>EUR</span></h1>
    <tr>
    </tr> 
</div>

<table style="align-items: center; margin-right: 10px;">
  <thead style="margin-left: 30px;" >
    <tr>
        <th class="customTD" style="font-size: 25px;" routerLink="/checking" routerLinkActive="active">Check your checkings</th>
        <th class="customTD" style="font-size: 25px;" routerLink="/saving" routerLinkActive="active" >Check your savings</th>
        <th class="customTD" style="font-size: 25px;" routerLink="/creditCard" routerLinkActive="active"> Check your creditcards</th>
        <th class="customTD" style="font-size: 25px;" routerLink="/transaction" routerLinkActive="active">Transaction</th>          
</tr>
</thead>
</table> 



