<body>

    <div class="login">

      <h1 style="font-size: 40px; color:burlywood; font-family: Futura ;font-weight: 400">Saving Account</h1>

      <form  *ngIf="!isSuccessful" (ngSubmit)="createNewSaving()" #form="ngForm">
        <div class="form-group">
          <div  data-toggle="tooltip" data-placement="left" title="There must be an existing user id">             
          <input placeholder="UserId" type="text" class="form-control" required  [(ngModel)]="inputUserId" name="inputUserId"/>
          </div> 
        </div>
        <div class="form-group">          
            <input placeholder="Balance Amount" type="text" class="form-control" required [(ngModel)]="inputBalanceAmount" name="inputBalanceAmount"/>
        </div>
        <div class="form-group">          
          <input placeholder="Balance Currency" type="text" class="form-control" required [(ngModel)]="inputBalanceCurrency" name="inputBalanceCurrency"/>
        </div>
        <div class="form-group">          
          <input placeholder="Secret Key" type="text" class="form-control" required [(ngModel)]="inputSecretKey" name="inputSecretKey"/>
        </div>
        <div class="form-group">
          <div  data-toggle="tooltip" data-placement="left" title="The default status is ACTIVE">              
          <input placeholder="Status" type="text" class="form-control" [(ngModel)]="inputStatus" name="inputStatus"/>
          </div>
        </div>
        <div class="form-group">
          <div data-toggle="tooltip" data-placement="left" title="The default minimum balance is 1000.  Otherwise, it must be greater than 100 and less than 1000">               
          <input placeholder="Minimum Balance" type="text" class="form-control" [(ngModel)]="inputMinimumBalance" name="inputMinimumBalance"/>
          </div>
        </div>
        <div class="form-group">
        <button  type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block btn-large">Create Saving</button>  
        </div>
      </form>



